@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 180 25% 85%;
    --foreground: 0 0% 10%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;

    --primary: 0 0% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 180 25% 75%;
    --secondary-foreground: 0 0% 10%;

    --muted: 180 20% 90%;
    --muted-foreground: 0 0% 40%;

    --accent: 20 100% 88%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 180 20% 80%;
    --input: 180 20% 90%;
    --ring: 180 25% 65%;

    --radius: 1rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 180 30% 15%;
    --foreground: 0 0% 98%;

    --card: 180 25% 20%;
    --card-foreground: 0 0% 98%;

    --popover: 180 25% 20%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 10%;

    --secondary: 180 25% 25%;
    --secondary-foreground: 0 0% 98%;

    --muted: 180 25% 25%;
    --muted-foreground: 0 0% 70%;

    --accent: 20 100% 75%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 62.8% 50%;
    --destructive-foreground: 0 0% 98%;

    --border: 180 25% 30%;
    --input: 180 25% 25%;
    --ring: 180 25% 50%;
    --sidebar-background: 180 30% 15%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 180 25% 50%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 180 25% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 180 25% 30%;
    --sidebar-ring: 180 25% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
